name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Airflow image
        run: |
          docker build -t airlines-airflow-test ./airflow-image

      - name: Run pytest (bypass Airflow entrypoint)
        run: |
          docker run --rm \
            --entrypoint bash \
            -e AIRLABS_API_KEY=DUMMY_FOR_TESTS \
            -v "$GITHUB_WORKSPACE:/opt/airflow" \
            -w /opt/airflow \
            airlines-airflow-test \
            -lc "python -m pytest -q airflow/test"

